/**
 * @fileoverview
 * Establishes the base CSS for the page.
 */

@import '../assets/scss/standards/index';

@include std-css-reset();

.html, body {
    font-size: 1rem;
    padding: 0rem;
    margin: 0rem;
    background-color: $std-swatch-2;
    color: $std-swatch-1;
    @include std-font-2;
}