<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
 </head>
  <body>
    <p>Created with handlebars.</p>
    {{> ./partials/partial }}
    <div id="root"></div>
  </body>
</html>