@use 'sass:color';
@use '../utils';
utils.$element: 'project-gallery-thumbnail';

.thumbnail {
  utils.$selector: 'thumbnail';
  @include utils.prop('background-color', utils.color(background, 2));
  // border-top: thin solid utils.color(background, 3);
  @include utils.prop('color', utils.color(content, 1));
  @include utils.font(copy, 400);
  font-size: 2rem;
  height: auto;
  min-height: 15rem;
  padding: 2rem;
  border-radius: 0.5rem;
  border-top-left-radius: 1.5rem;
  border: thin solid utils.color(background, 3);
  @include utils.prop('width', 100%);
}

