/**
 * @fileoverview
 * Styling for the skills list in the intro.
 */

@import '~scss-standards';

.root {
  display: flex;
}

.skills {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;

  @media (min-width: std-get-breakpoint(720)) {
    justify-content: flex-start;
  }
}

.skill {
  display: none;
  margin: 0.2rem 0.2rem;
  padding: 0.4rem 1rem;
  width: auto;
  background: std-get-swatch(1);
  color: std-get-swatch(2, -20);

  @media (min-width: std-get-breakpoint(480)) {
    &--is-core {
      display: flex;
    }
  }

  @media (min-width: std-get-breakpoint(720)) {
    display: flex;
  }
}
