<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    {{> ./partials/fonts }}
 </head>
  <body>
    {{> ./partials/noscript }}
    <div id="root"></div>
  </body>
</html>