<!DOCTYPE html>
<html>
  <head>
    {{> ./partials/meta }}
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    {{> ./partials/fonts }}
 </head>
  <body>
    {{> ./partials/noscript }}
    <div id="root"></div>
  </body>
</html>