/**
 * @fileoverview
 * Establishes the base CSS for the page.
 */

@import '../../assets/scss/standards/index';
@import '../about/public';
@import '../contact/public';

@include std-css-reset();

.html, body {
    font-size: 1rem;
    padding: 0rem;
    margin: 0rem;
    background-color: $std-swatch-1;
    color: $std-swatch-2;
    @include std-font-2;
}

.page {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(150deg, $std-swatch-2--lt-20, $std-swatch-2);
    background-attachment: fixed;

    @media (min-width: $std-breakpoint-1080) {
        background-image: radial-gradient(at 40% 0%, $std-swatch-2--lt-20, $std-swatch-2);
    }
}

.page__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (min-width: $std-breakpoint-1080) {
        width: calc(100vw - #{$about-bar-width});
        margin-left: $about-bar-width;
    }
}

.main {
    width: 100%;
    padding: $std-dimension-gap;
    color: $std-swatch-1;
}