{
  "env": {
    "node": true
  },
  "ignorePatterns": ["*.scss"],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jsdoc"
  ],
  "settings": {
    "jsdoc": {
      "mode": "typescript"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "jsdoc/require-jsdoc": ["error", {
      exemptEmptyFunctions: true,
      contexts: [
        "FunctionDeclaration",
        "ClassDeclaration",
        "MethodDefinition:not([accessibility=\"private\"]):not([key.name=\"constructor\"])"
      ]
    }],
    "jsdoc/check-alignment": ["error", "always"],
    "jsdoc/require-description": ["error"],
    "jsdoc/multiline-blocks": ["error", {
      noSingleLineBlocks: true
    }],
    "jsdoc/check-param-names": ["error"],
    "no-inline-comments": ["error"],
    "max-depth": ["error", 4],
    "max-lines-per-function": ["error", 10],
    "max-lines": ["error", 100],
    "eol-last": ["error", "always"]
  }
}

