@import '../../utils/scss/grid-settings';
@import './thumb';


@mixin gallery() {

    /** The whitespace around the group of thumbnails. */
    $dimension-gutter: 0.1rem;

    /**
    * @description
    * Root element for the gallery section.
    */
    .gallery {
        width: 100%;

        /**
        * @description
        * Applies dimensional formatting without interfering with scaffolding.
        */
        &__content {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 0rem;
        }
    }


    @media (min-width: $grid-md) {
        .gallery .gallery__content {
            padding: $dimension-gutter;
        }
    }


    @media (min-width: $grid-lg) {
        .gallery .gallery__content {
            padding: ($dimension-gutter) ($dimension-gutter * 2);
        }
    }
}
@include gallery();
