<div class="grid-container gallery">
    <div class="grid-row gallery__content">
        {{#> ./thumb }}
            {{> ../../assets/html/thumb_test 
                title="Test"
                subtitle="Subtitle"
            }}
        {{/ ./thumb}}

        {{#> ./thumb }}
            {{> ../../assets/html/thumb_test 
                title="Another Test"
                subtitle="Yet another Subtitle"
            }}
        {{/ ./thumb}}

        {{#> ./thumb }}
            {{> ../../assets/html/thumb_test 
                title="A third Test"
                subtitle="The next one doesn't have a subtitle."
            }}
        {{/ ./thumb}}

        {{#> ./thumb }}
            {{> ../../assets/html/thumb_test 
                title="Piece 4"
                subtitle=""
            }}
        {{/ ./thumb}}

        {{#> ./thumb }}
            {{> ../../assets/html/thumb_test 
                title="Number 5"
                subtitle="The last one."
            }}
        {{/ ./thumb}}
    </div>
</div>