<div class="grid-container gallery">
    <div class="grid-row">
        {{#> ./thumb }}
            {{> ../../assets/html/thumb_test }}
        {{/ ./thumb}}

        {{#> ./thumb }}
            {{> ../../assets/html/thumb_test }}
        {{/ ./thumb}}

        {{#> ./thumb }}
            Editorialized: &nbsp; {{> ../../assets/html/thumb_test }}
        {{/ ./thumb}}

        {{#> ./thumb }}
            {{> ../../assets/html/thumb_test }}
        {{/ ./thumb}}

        {{#> ./thumb }}
            {{> ../../assets/html/thumb_test }}
        {{/ ./thumb}}
    </div>
</div>