<div class="grid-container gallery">
    <div class="grid-row gallery__content">
        {{!-- {{#> ./thumb 
            src="/img/water.jpg" 
            alt="Test"
            title="foo"
            tools=[2, 1]
        }}
            Test Test Test
        {{/ ./thumb}} --}}
    </div>
</div>