@import '../../utils/scss/grid-settings';
@import '../../utils/scss/fonts';
@import '../../utils/scss/colors';
@import '../../utils/scss/noselect';
@import '../../utils/scss/transitions';


@mixin thumb () {
    /** The space around individual thumbnails. */
    $dimension-gutter: 0.1rem;

    /**
    * @description
    * Styling for the thumbnail container.  This acts as scaffolding for the
    * figure element's placement on the page.
    */
    .thumb {

        /**
        * @description
        * Applies container formatting without directly affecting the 
        * scaffolding.
        */
        &__content {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            margin: 0rem;
            padding: 0;
        }

        /**
        * @description
        * The figure element (for html semantics) containing the thumbnail's 
        * data, this can be safely animated as it is not concerned with the 
        * overall layout.
        */
        &__figure {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        /**
        * @description
        * The thumbnail's image.  Used primarily for SEO purposes.
        */
        &__image {
            display: block;
            width: 100%;
            height: auto;
            // opacity: 0;
            transition: opacity $transition linear;
            background-color: $swatch-1--lt-100;
        }

        /**
        * @description
        * Styles positioning of a thumbnail's title.
        */
        &__title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: auto;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 0.5rem;
        }
    }


    @media (min-width: $grid-md) {
        .thumb__content {
            padding: $dimension-gutter;
        }
    }
}
@include thumb();
