<div class="
    grid-xs-12 
    grid-xs-flush 
    grid-md-4 
    grid-md-flush 
    grid-lg-3 
    grid-lg-flush"
>
    <figure class="thumb">
        <img class="thumb__image" />
        <figcaption class="thumb__title">
            {{> @partial-block }}
        </figcaption>
    </figure>
</div>