<div class="
    grid-xs-12 
    grid-xs-flush 
    grid-md-4 
    grid-md-flush 
    grid-lg-3 
    grid-lg-flush
    thumb
    "
>
    <div class="thumb__content">
        <figure class="thumb__figure">
            <img class="thumb__image" src="{{src}}">
            <figcaption class="thumb__caption">
                <p class="thumb__title">{{title}}</p>
                <ul class="thumb__tools">
                    {{> @partial-block}}
                </ul>
            </figcaption>
        </figure>
    </div>
</div>
