<!DOCTYPE html>
<html>
    <head>
        {{> ../../components/meta }}
        {{> ../../components/fonts }}
        <title>{{ htmlWebpackPlugin.options.title }}</title>
    </head>
    <body>
        {{> ../../components/noscript }}
    
        {{> ../../sections/header/header 
            sub=subtitle
        }}
    
        <main>
            {{> @partial-block }}
        </main>

        {{> ../../sections/footer/footer}}
  </body>
</html>