/**
 * @fileoverview
 * Styling for the contact section.
 */

@import '../../lib/scss/standards/index';
@import './public';

/**
 * @description
 * Styling for the root element of the contact section.
 */
.root {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: $std-dimension-gap;
    color: std-get-swatch(1);

    @media (min-width: std-get-breakpoint(1440)) {
        position: absolute;
        top: 0rem;
        right: 0rem;
        width: $contact-bar-width;
        height: auto;
        min-height: 100%;
    }
}
