/*!************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/core.scss ***!
  \************************************************************************************************************************************/
body {
  background-color: #f00;
}
/*!***********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/custom_elements/hello_world/hello_world.scss ***!
  \***********************************************************************************************************************************************************************/
.message-eaz5Z {
  display: block;
  border: thin solid #fff;
  color: #fff;
  background-color: #006;
}
