/**
 * @fileoverview
 * Styling for the navigation.
 */

@import '../../lib/scss/standards/index';

.root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

    background-color: std-get-swatch(1);
}
.root--small-device {
    position: fixed;
    z-index: 99;
    bottom: 0rem;
    justify-content: center;
}
.root--large-device {
    position: relative;
}

.links-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem;
    padding: 0rem;
}
.root--large-device .links-list {
    flex-direction: column;
    width: 100%;
}

.links-list__item {
    display: flex;
    margin: 0rem;
    padding: 0rem;
}
.root--large-device .links-list__item {
    width: 100%;
}

.link {
    display: block;
    padding: $std-dimension-gap;
    border-width: 0.2rem 0rem 0rem 0rem;
    border-style: solid;
    border-color: std-get-swatch(1);
    color: std-get-swatch(2);
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;

    &:hover, &:active, &--active {
        border-color: std-get-swatch(3);
        color: std-get-swatch(3);
    }
}
.root--large-device .link {
    border-width: 0rem 0.2rem 0rem 0rem;
    width: 100%;
    padding: $std-dimension-gap;
    text-align: right;
}