/**
  * @fileoverview
  * Standard color swatches and lightness modifiers.
  */
$std-swatch-1: #181a20;

$std-swatch-1--dk-20: darken($std-swatch-1, 20);
$std-swatch-1--dk-40: darken($std-swatch-1, 40);
$std-swatch-1--dk-60: darken($std-swatch-1, 60);
$std-swatch-1--dk-80: darken($std-swatch-1, 80);
$std-swatch-1--dk-100: darken($std-swatch-1, 100);

$std-swatch-1--lt-20: lighten($std-swatch-1, 20);
$std-swatch-1--lt-40: lighten($std-swatch-1, 40);
$std-swatch-1--lt-60: lighten($std-swatch-1, 60);
$std-swatch-1--lt-80: lighten($std-swatch-1, 80);
$std-swatch-1--lt-100: lighten($std-swatch-1, 100);

$std-swatch-2: #dbd6c8;

$std-swatch-2--dk-20: darken($std-swatch-2, 20);
$std-swatch-2--dk-40: darken($std-swatch-2, 40);
$std-swatch-2--dk-60: darken($std-swatch-2, 60);
$std-swatch-2--dk-80: darken($std-swatch-2, 80);
$std-swatch-2--dk-100: darken($std-swatch-2, 100);

$std-swatch-2--lt-20: lighten($std-swatch-2, 20);
$std-swatch-2--lt-40: lighten($std-swatch-2, 40);
$std-swatch-2--lt-60: lighten($std-swatch-2, 60);
$std-swatch-2--lt-80: lighten($std-swatch-2, 80);
$std-swatch-2--lt-100: lighten($std-swatch-2, 100);

$std-swatch-3: #ffbb00;