@import '~scss-standards';

.frame {
  // display: see component props
  position: relative;
  // stylelint-disable
  padding: 1px;
  // stylelint-enable
  margin: 0rem;
  overflow: hidden;
  background-color: std-get-swatch(1);
  background-image: linear-gradient(
    160deg,
    std-get-swatch(1, 20),
    std-get-swatch(1),
    std-get-swatch(1, -20),
  );
}

.content {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0rem;
  padding: 0rem;
  background-color: std-get-swatch(1);
  background-image: linear-gradient(
    160deg,
    std-get-swatch(1),
    std-get-swatch(1, -20)
  );
}