@mixin font-1 {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    font-weight: 400;
}

@mixin font-1--light {
    font-weight: 300;
}

@mixin font-1--bold {
    font-weight: 700;
}


@mixin font-2 {
    font-family: 'Frank Ruhl Libre', 'Georgia', 'Times New Roman', serif;
    font-weight: 400;
}

@mixin font-2--light {
    font-weight: 300;
}

@mixin font-2--bold {
    font-weight: 700;
}


/** Laxy loads fonts from a given URL only at a specified min-width. */
@mixin font-lazyload ($url, $breakpoint: 1000px) {
    @import url(#{$url}) (min-width: $breakpoint);
}