/**
 * @fileoverview
 * Styling for the footer.
 */

@import '../../lib/scss/standards/index';
@import '../overview/public.scss';

.root {
    display: flex;
    width: 100%;
    height: auto;
    padding: 
        $std-dimension-gap
        $std-dimension-gap
        $std-dimension-gap * 10
        $std-dimension-gap;
    background-color: std-get-swatch(1);

    @media (min-width: std-get-breakpoint(1080)) {
        width: calc(100% - #{$overview-bar-width});
        margin-left: $overview-bar-width;
    }
}
