/**
 * @fileoverview
 * Styling for the about section.
 */

@import '../../assets/scss/standards/index';
@import './public';

/**
 * @description
 * Styling for the root about element.
 */
.root {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 0rem;
    padding: $std-dimension-gap;

    color: $std-swatch-2;
    background-color: $std-swatch-1;

    @media (min-width: $std-breakpoint-1080) {
        position: fixed;
        top: 0rem;
        left: 0rem;
        width: $about-bar-width;
        height: 100vh;
        overflow: hidden;
    }
}

/**
 * @description
 * Frames the about section's content.  The desktop variant allows for scrolling, but hides the
 * scroll bar outside of the visible content area.
 */
.content {
    display: block;
    width: calc(100% + 6rem);
    height: auto;
    padding-right: 5rem;
    overflow: hidden;

    @media (min-width: $std-breakpoint-1080) {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
