/**
 * @description
 * Breakpoints and grid settings.
 */
 $grid-sm: 375px !default;
 $grid-md: 768px !default;
 $grid-lg: 1200px !default;
 $grid-gutter: 20px !default;
 
 $grid-settings: (
     namespace: 'grid',
     max-width: 1200px,
     columns: 12,
     gutter: $grid-gutter,
     breakpoints: (
         ('xs', 0px), // (start with 0)
         ('sm', $grid-sm),
         ('md', $grid-md),
         ('lg', $grid-lg)
     )
 );