/**
 * @fileoverview
 * Styling for the avatar component.
 */

@import '../../lib/scss/standards';

/**
 * @description
 * Scaffolds the root element of the avatar component.
 */
.root {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

/**
 * @description
 * The frame is comporised of a an inner and outer elements.  The outer frame
 * renders affects for the frame itself, e.g. borders; while the inner frame
 * crops the image accordingly.
 */
.frame {
    border: 0.05rem solid $std-swatch-2--dk-20;
    border-radius: 50%;
    padding: 0.6rem;

    &__crop {
        overflow: hidden;
        padding: 0rem;
        margin: 0rem;
        width: auto;
        height: auto;
        border-radius: 50%;
    }
}

/**
 * @description
 * Controls how the avatar image element renders.
 */
.image {
    display: block;
    width: 100%;
    height: auto;
}