/**
 * @fileoverview
 * Styling for the thumbnail component.
 */
 
@import '~scss-standards';

.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 20rem;
  padding: 0rem;
  margin: 0rem;
  border: thin solid std-get-swatch(1);
  border-bottom-color: transparent;

  @media (min-width: std-get-breakpoint(720)) {
    max-width: 80%;
    margin: 0rem auto;
  }
}

.image {
  display: block;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: auto;
  z-index: 1;
  object-fit: cover;
}

.caption {
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
