@import '../../utils/scss/fonts';
@import '../../utils/scss/colors';
@import '../../modules/navigation/nav';


@mixin header() {
    /**
    * @description
    * Main container for the header, spans the entire width of the viewport via the
    * grid system.
    */
    .header {
        background-color: #f00;

        /**
        * @description
        * Confines the header's content to the width of the page's content via the
        * grid system.
        */
        &__content {
            background-color: inherit;
        }

        /**
        * @description
        * The main portion of the header's title, also the h1 tag.
        */
        &__title {
            display: block;
            margin: 1rem 0rem 0.5rem 0rem;

            font-size: 1.5rem;
            text-transform: uppercase;
            color: $swatch-2;
        }

        /**
        * @description
        * The header's subtitle, still part of the h1 tag.
        */
        &__subtitle {
            display: block;

            font-size: 1rem;
            color: $swatch-2;
        }
        &__subtitle::before {
            content: '// ';
        }
    }
}
@include header();
