<header class="header grid-container">
    <div class="grid-row">
        <div class="
            grid-xs-12  
            grid-md-4 
            grid-md-flush
            grid-lg-4
            nav-container
        ">
            {{> ../../modules/navigation/nav}}
        </div>
    </div>
</header>