<header class="grid-container-fluid header">
    <div class="grid-container header__content">
        <div class="grid-row">
            <div class="
                grid-xs-12  
                grid-md-4 
                grid-md-flush
                grid-lg-4
            ">
                {{> ../../modules/navigation/nav}}
            </div>
        </div>
    </div>
</header>