/**
 * @fileoverview
 * Styling for the intro component.
 */

@import '~scss-standards';

.root {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  position: relative;
  z-index: 1;
  width: auto;
  margin: auto;
  max-width: 45rem;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media( min-width: std-get-breakpoint(480)) {
    margin: auto 4rem;
    box-shadow: 0.2rem 0.2rem 1.25rem 0rem rgba(std-get-swatch(1, -100), 0.5);
  }

  @media (min-width: std-get-breakpoint(720)) {
    display: inline-flex;
    flex-shrink: 1;
    flex-direction: row;
    align-items: flex-start;
  }
}

.panel {
  opacity: 0.5;
}

.content {
  display: flex;
  padding: 2rem;
}

.headline {
  display: flex;
  width: auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: std-get-breakpoint(480)) {
    width: auto;
    margin: auto;
  }

  @media (min-width: std-get-breakpoint(720)) {
    width: auto;
  }
}

.title {
  display: flex;
  margin-bottom: 0.2rem;
  @include std-font-1;
  font-size: 2.8rem;
  color: std-get-swatch(2);
  line-height: 3.2rem;
}

.subtitle {
  display: flex;
  @include std-font-2;
  font-size: 1.4rem;
  color: std-get-swatch(2);
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  padding: 1rem 0rem 0rem 0rem;
  margin: 1.4rem 0rem 0rem 0rem;
  border-top-width: thin;
  border-color: std-get-swatch(2, -60);
  border-style: dotted;

  @media (min-width: std-get-breakpoint(720)) {
    padding: 0rem 0rem 0rem 1rem;
    margin: 0rem 0rem 0rem 1.4rem;
    border-top-width: 0rem;
    border-left-width: thin;
  }
}
