@import '~scss-standards';

.root {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0rem;
  margin: 0rem 0rem $std-dimension-gap 0rem;

  @media (min-width: std-get-breakpoint(720)) {
    display: inline-flex;
    width: calc(50% - 1rem);
    &:nth-of-type(odd) {
      margin-right: 2rem;
    }
  }
}

.figure {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 0rem;
  margin: 0rem;
  vertical-align: top;
}

.image {
  display: inline-flex;
  width: 100%;
  height: auto;

  @media (min-width: std-get-breakpoint(480)) {
    width: 50%;
  }
}

.caption {
  display: inline-flex;
  width: 100%;
  padding: $std-dimension-gap;

  @media (min-width: std-get-breakpoint(480)) {
    width: 50%;
  }
}
