@use '../utils';

utils.$element: 'header';

.header {
  utils.$selector: 'header';
  display: flex;
  justify-content: center;
}

.content {
  utils.$selector: 'content';
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  @include utils.prop('padding', '1rem 0');
  @include utils.breakpoint(480) {
    utils.$selector: 'content--breakpoint-480';
    flex-direction: row;
  }
}

.title {
  utils.$selector: 'title';
  @include utils.prop('color', utils.color(content, 1));
  @include utils.prop('font-size', 2rem);
  @include utils.font('heading', 700);
  margin-bottom: 1rem;
  @include utils.breakpoint(480) {
    margin-bottom: 0;
  }
}

.nav {
  utils.$selector: 'nav';
  display: inline-flex;
  flex-grow: 1;
  justify-content: flex-start;
  @include utils.breakpoint(480) {
    utils.$selector: 'nav--breakpoint-480';
    justify-content: flex-end;
  }
}

.nav-list {
  utils.$selector: 'nav-list';
  display: flex;
  flex-direction: column;
  @include utils.breakpoint(480) {
    utils.$selector: 'nav-list--breakpoint-480';
    align-items: flex-end;
    flex-direction: row;
  }
}

.nav-list__item {
  utils.$selector: 'nav-list__item';
  display: flex;
  @include utils.font(heading, 700);
  @include utils.prop('font-size', 1.2rem);
  @include utils.prop('line-height', 1);
  margin: 0 0 0.5rem 0;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include utils.breakpoint(480) {
    display: inline-flex;
    align-items: baseline;
    margin: 0 0 0 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

