@use 'sass:map';

$token: (
  colors: (
    background: (
      1: #000,
      2: #333,
      3: #555
    ),
    content: (
      1: #eee,
      2: #000,
    ),
    interactive: (
      1: #f1c422
    )
  ),
  fonts: (
    copy: (
      family: "'Playfair Display', serif",
      weights: (400),
      styles: ('regular')
    ),
    heading: (
      family: "'PT Sans', sans-serif",
      weights: (700),
      styles: ('regular')
    )
  )
);

