@import '~reset-css/sass/reset';
@import '../scss/index';
// @import '~@jon-richards/grid/src/flex_based/grid';
@import './../scss/grid';

html, body {
    background-color: $swatch-1;

    @include font-1;
    font-size: 100%;
    color: $swatch-1-lt-100;
}

$grid-settings: (
    namespace: 'grid',
    max-width: 1200px,
    columns: 12,
    gutter: 20px,
    breakpoints: (
      ('0', 0px),
      ('375', 375px),
      ('640', 640px),
      ('960', 960px),
      ('1280', 1280px)
    )
);
@include grid-generate();