@import '~reset-css/sass/reset';
@import '../scss/index';
// @import '~@jon-richards/grid/src/flex_based/grid';
@import './../scss/grid';

html, body {
    background-color: $swatch-1;
    background-color: #000;

    @include font-1--regular;
    font-size: 100%;
    color: $swatch-1--lt-100;
}

@include grid-generate();