@use '../utils';
utils.$element: 'project-gallery';

.root {
  utils.$selector: 'root';
  --jr-content-block__block_padding: 1rem 0;
  @include utils.breakpoint(375) {
    --jr-content-block__block_padding: 1rem;
  }
}

.gallery {
  utils.$selector: 'gallery';
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  @include utils.breakpoint(768) {
    grid-template-columns: 1fr 1fr;
  }
  @include utils.breakpoint(1080) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

